.ru-drawer-container {
  height: 100%;
}
.ru-drawer-sidenav {
  width: 250px;
  border-right: var(--border-default);
}
.ru-drawer-content {
  max-width: 1024px;
  margin: 0 auto;
}
.ru-content-wrap {
  padding: 1.5rem;
}
