:root {
    --color-white: #fff;
    --color-grey: #fafafa;
    --color-light-grey: #eee;
    --color-primary: #7b2ce2;
    
    --border-radius: 6px;
    --border-color: #e5e5e5;

    --background-white: var(--color-white);
    --background-light: var(--color-light-grey);
    --background-primary: var(--color-primary);
    
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125);
    --card-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.075),var(--box-shadow);

    --border-default: 1px solid var(--border-color);
}

.ru-card {
    background: var(--background-white);
    color: #666;
    margin-bottom: 1rem;
    border: var(--border-default);
    border-radius: var(--border-radius) !important;
    box-shadow: none !important;
    
}
.ru-card-header {
    margin-bottom: 1rem;
}
.ru-card-header h1 {
    color: #222;
    margin: 0;
}
.ru-card-header h3 {
    margin: 0;
}