.ru-logo-wrap {
  background: #03254e;
  .ru-logo {
    & > img {
      height: 1rem;
    }
  }
}

.ru-sidenav-warp {
  .mat-nav-list {
    padding: 0;
    a {
      height: 38px;

      &.active-sidenav-link {
        background-color: #FFEBEE;
      }
    }
  }
}
