.ru-logo-wrap {
  background: #03254e;
  .ru-logo {
    & > img {
      height: 1rem;
    }
  }
}

.ru-sidenav-warp {
  .mat-nav-list {
    & a {
      height: 40px;

      &.active {
        background-color: rgba(3,37,78,0.1);
      }
    }
    .mat-subheader {
      margin-top: 1rem;
    }
  }
}
