/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ru-shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .18);
}
