/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
}

html, body {
  height: 100%;
}

body {
  ffont-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.ru-shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .18);
}
