/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
}

html, body {
  height: 100%;
}
body,
.mat-body,
.mat-typography,
.mat-typography .mat-body {
  font: 400 14px/20px Ubuntu, sans-serif;
}

.mat-h1,
.mat-headline,
.mat-typography .mat-h1,
.mat-typography .mat-headline,
.mat-typography h1 {
  font: 400 1.5rem/1.75rem Ubuntu, sans-serif;
}
.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2 {
  font: 500 1.25rem/1.5rem Ubuntu, sans-serif;
}
.mat-h3,
.mat-subheading-2,
.mat-typography .mat-h3,
.mat-typography .mat-subheading-2,
.mat-typography h3 {
  font: 500 1.125rem/1.25rem Ubuntu, sans-serif;
}
.mat-h4,
.mat-subheading-1,
.mat-typography .mat-h4,
.mat-typography .mat-subheading-1,
.mat-typography h4 {
  font: 500 1rem/1.125rem Ubuntu, sans-serif;
}
.mat-h5,
.mat-typography .mat-h5,
.mat-typography h5 {
  font: 400 .875rem/1rem Ubuntu, sans-serif;
}
.mat-h6,
.mat-typography .mat-h6,
.mat-typography h6 {
  font: 400 .75rem/.875rem Ubuntu, sans-serif;
}

body {
  font: 400 1rem/1.125rem Ubuntu, sans-serif;
  line-height: 1.125rem;
}
